@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

:root {
  --purple: #6116dc;
  --dark-purple: #3d0e8b;
  --darkest-purple: #1f0746;
  --lightest-purple: #f0e8fd;
  --light-purple: #d1b9f8;

  --default-border-color: rgba(255, 255, 255, 0.2);
  --default-hover-border-color: rgba(255, 255, 255, 0.3);
  --default-border-width: 2px;
  --default-fill-color: rgba(255, 255, 255, 0.05);
  --default-hover-fill-color: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  min-height: 0;
  min-width: 0;
  font-family: "Alata";
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    var(--darkest-purple) 0%,
    black 100%
  );
  gap: 20px;
  color: white;
}

section {
  margin: 0 auto;
}

.h-divider {
  height: 1px;
  background-color: white;
  width: 100%;
  transform: scaleX(0);
  transform-origin: center;
  animation: growLine 1.5s ease-in-out forwards;
}

@keyframes growLine {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(10%);
  transform-origin: center;
  animation:
    slideUp 1s ease-in-out forwards,
    fadeIn 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h2 {
  font-weight: "normal";
}

a {
  display: block;
}

.button-medium {
  padding: 1rem 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-medium-square {
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-small {
  padding: 0.25rem 0.25rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-small-square {
  padding: 0.25rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-outline {
  border: 1px solid white;
  min-width: fit-content;
  transition: background-color 0.15s ease-in-out;
}

.button-outline:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.interactable {
  transition: background-color 0.15s ease-in-out;
}

.interactable:hover {
  color: var(--lightest-purple);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: normal;
  font-size: 3rem;
  color: white;
  line-height: 1.2;
}
