---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/logos/Logo.astro";
import { Icon } from "astro-icon/components";
---

<html lang="en">
  <BaseHead titleExtension="Home" />
  <body>
    <div
      style={{
        position: "absolute",
        top: "0.5%",
        left: "0.5%",
        animationDelay: "2s",
      }}
      class="fade-in-up"
    >
      <Logo
        variant="filled"
        color="var(--purple)"
        style={{
          height: "25px",
          width: "25px",
          borderRadius: "15%",
          boxShadow: "0 0 8px rgba(0, 0, 0, 0.5)",
          padding: "5px",
        }}
      />
    </div>
    <main
      style={{
        width: "fit-content",
        margin: "0 auto",
        display: "flex",
        flexDirection: "column",
        gap: "1.5rem",
      }}
    >
      <section>
        <h1
          style={{
            display: "flex",
            alignItems: "center",
            gap: "0.5rem",
            margin: "auto",
            lineHeight: 1,
            color: "white",
            fontSize: "2.5rem",
          }}
        >
          Brayden Babbitt
        </h1>
      </section>
      <div class="h-divider"></div>
      <section>
        <div
          style={{
            display: "flex",
            gap: "10px",
          }}
        >
          <a
            href="https://github.com/braydenbabbitt"
            target="_blank"
            rel="noopener"
            title="Personal Github"
            class="fade-in-up"
            style={{ animationDelay: "0.3s" }}
          >
            <div
              style={{
                position: "relative",
              }}
            >
              <Icon
                name="streamline-logos:github-logo-2-solid"
                color="white"
                size="40px"
              />
              <img
                src="https://avatars.githubusercontent.com/u/1495342?v=4"
                style={{
                  width: "18px",
                  height: "18px",
                  borderRadius: "100%",
                  position: "absolute",
                  bottom: 0,
                  right: 0,
                }}
              />
            </div>
          </a>
          <a
            href="https://github.com/Haptic-Labs"
            target="_blank"
            rel="noopener"
            title="Public Github (used for content creation)"
            class="fade-in-up"
            style={{ animationDelay: "0.6s" }}
          >
            <div
              style={{
                position: "relative",
              }}
            >
              <Icon
                name="streamline-logos:github-logo-2-solid"
                color="white"
                size="40px"
              />
              <img
                src="https://avatars.githubusercontent.com/u/142282855?s=200&v=4"
                style={{
                  width: "18px",
                  height: "18px",
                  borderRadius: "100%",
                  position: "absolute",
                  bottom: 0,
                  right: 0,
                }}
              />
            </div>
          </a>
          <a
            href="https://linkedin.com/in/brayden-babbitt"
            target="_blank"
            rel="noopener"
            title="LinkedIn"
            class="fade-in-up"
            style={{ animationDelay: "0.9s" }}
          >
            <Icon
              name="streamline-logos:linkedin-logo-block"
              color="white"
              size="40px"
            />
          </a>
        </div>
      </section>
    </main>
  </body>
</html>
