---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/logos/Logo.astro";
import { Icon } from "astro-icon/components";
import LinkButton from "../components/buttons/LinkButton.astro";
---

<html lang="en">
  <BaseHead titleExtension="Home" />
  <body>
    <div
      style={{
        position: "absolute",
        top: "0.5%",
        left: "0.5%",
        animationDelay: "2s",
      }}
      class="fade-in-up"
    >
      <Logo
        variant="filled"
        color="var(--purple)"
        style={{
          height: "25px",
          width: "25px",
          borderRadius: "15%",
          boxShadow: "0 0 8px rgba(0, 0, 0, 0.5)",
          padding: "5px",
        }}
      />
    </div>
    <main
      style={{
        width: "fit-content",
        margin: "0 auto",
        display: "flex",
        flexDirection: "column",
        gap: "3rem",
      }}
    >
      <section>
        <h1
          style={{
            display: "flex",
            alignItems: "center",
            gap: "0.5rem",
            margin: "auto",
            lineHeight: 1,
            color: "white",
            fontSize: "3rem",
            textTransform: "uppercase",
            letterSpacing: "0.2rem",
            fontWeight: "normal",
          }}
        >
          Brayden Babbitt
        </h1>
      </section>
      <section>
        <LinkButton
          href="/projects"
          class="fade-in-up"
          fontSize="1.25rem"
          style={{ animationDelay: "0.3s" }}
          size={30}
        >
          Projects
        </LinkButton>
      </section>
      <section>
        <div
          style={{
            display: "flex",
            gap: "10px",
          }}
        >
          <LinkButton
            href="https://github.com/braydenbabbitt"
            target="_blank"
            rel="noopener"
            title="Personal Github"
            class="fade-in-up"
            style={{ animationDelay: "1.5s" }}
            iconOnly
            size={20}
            hoverFillColor="var(--github-gray)"
          >
            <Icon name="streamline-logos:github-logo-2-solid" size="25px" />
          </LinkButton>
          <LinkButton
            href="https://github.com/Haptic-Labs"
            target="_blank"
            rel="noopener"
            class="fade-in-up"
            title="Public Github (used for content creation)"
            style={{ animationDelay: "1.8s" }}
            iconOnly
            size={20}
            hoverFillColor="var(--github-gray)"
          >
            <Icon name="streamline-logos:github-logo-2-solid" size="25px" />
          </LinkButton>
          <LinkButton
            href="https://linkedin.com/in/brayden-babbitt"
            target="_blank"
            rel="noopener"
            title="LinkedIn"
            class="fade-in-up"
            style={{ animationDelay: "2.1s" }}
            iconOnly
            size={20}
          >
            <Icon name="streamline-logos:linkedin-logo-block" size="25px" />
          </LinkButton>
        </div>
      </section>
    </main>
  </body>
</html>
